.first_column{
    width: 200px;
    padding-right: 30px;
    }

.second_column{
        width: 400px;
        color: green;
    }

.para1{
        width: 640px;
        text-align: justify;
    }
